#
# Sample project properties file
#

# This is an example file that contains the keys used by the application
# The purpose of this file is to keep sensitive connection information out of the repository and deployed project

# You should copy this file, remove the ".sample" suffix, and enter valid values for the keys below
# The location for the final file is specified in applicationContext.xml via the PropertyPlaceholderConfigurer location property
# Under your user home, create a directory named "webapp" and copy your version of this file there

gpop.url={{ gpop_url }}

gpop.readonly.user={{ gpop_readonly_user }}
gpop.readonly.password={{ gpop_readonly_password }}

gpop.full.user={{ gpop_full_user }}
gpop.full.password={{ gpop_full_password }}

#AWS Keys
aws.accesskey={{ aws_accesskey }}
aws.secretkey={{ aws_secretkey }}

query.sftp.package.root={{ query_sftp_package_root }}
query.sftp.package.prefix={{ query_sftp_package_prefix }}
query.db.package.root={{ query_db_package_root }}

#possible revist?
ftp://ftp.root=webapp_data <ftp://ftp.root=webapp_data/> 
collection.attachment.dir=CollectionAttachments
study.attachment.dir=StudyAttachments
study.result.dir=StudyResults

helpEmailAddress=webapphelp@blah.blah
helpEmailLabel=webapp Help Desk
documentsPath=https\://s3.amazonaws.com/webappExternalResources/Documents/

# JNLP
jnlp.root.url={{ jnlp_root_url }}
accession.url={{ accession_url }}
datamanager.url={{ datamanager_url }}
datadictionary.url={{ datadictionary_url }}
jnlp.client.version=5.1
webapp.endpoint=Gluster
guid.url={{ guid_url }}
jnlp.env={{ jnlp_env }}

webapp.db.username={{ webapp_db_username }}
webapp.db.password={{ webapp_db_secret }}
webapp.db.url=jdbc:-Oracle:thin:@{{ webapp_db_url }}:{{ webapp_db_port }}/{{ webapp_db_service_name }}

apportion.db.username={{ apportion_db_username }}
apportion.db.password={{ apportion_db_secret }}
apportion.db.url=jdbc:-Oracle:thin:@{{ apportion_db_url }}:{{ apportion_db_port }}/{{ apportion_db_service_name }}

